<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <!-- <img src="../../assets/Logo 2.png" class="navbar-brand logo img-responsive" alt=""> -->
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav mr-auto line-break">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            class="nav-link" routerLink='/'>Home &nbsp;</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            class="nav-link" routerLink='/create-account'>Create Account</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            class="nav-link" routerLink='/bug-report'>Bug Report</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            class="nav-link" routerLink='/contact-us'>Contact Us</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            class="nav-link" routerLink='/downloads'>downloads &nbsp;</a></li>
      </ul>
      <ol>
        <a href="https://www.cloud-class.com/tool/" target="_blank">
          <img src="../../assets/Group 3.png" class="mt-2 mr-5" alt="">
        </a>
      </ol>
      <ol>
        <a href="https://www.youtube.com/channel/UCQBFpm-4NjWRE2Pes9pv80Q" target="_blank">
          <img src="../../assets/Group.png" class="mt-2 mr-5" alt="" href="">
        </a>
      </ol>
      <ol>
        <a href="https://www.linkedin.com/in/ioannis-manaras-32598b220/" target="_blank">
          <img src="../../assets/logos_linkedin.png" class="ln mt-2 mr-5" alt="">
        </a>
      </ol>
      <ol>
        <a href="https://www.facebook.com/Cloud-Class-106969578405569" target="_blank">
          <img src="../../assets/Facebook.png" class="fb mt-2 mr-5" alt="">
        </a>
      </ol>
    </div>
  </div>
</nav>