<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <img src="../../assets/Logo 2.png" class="navbar-brand logo img-responsive" alt="">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
      aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" routerLink='/'  class="nav-link">Home</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="/CreateAccount.html" routerLink='/create-account'   class="nav-link">Create Account</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink='/bug-report' >Bug Report</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink='/contact-us'  >Contact Us</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="/downloads.html" routerLink='/downloads' class="nav-link">downloads</a></li>
      </ul>
       <ol><img src="../../assets/Group 3.png" href="https://www.youtube.com/channel/UCQBFpm-4NjWRE2Pes9pv80Q" class="mt-2 mr-5" alt=""></ol>
       <ol><img src="../../assets/Group.png" class="mt-2 mr-5" alt="" href=""></ol>
        <ol> <img src="../../assets/logos_linkedin.png" class="ln mt-2 mr-5" alt=""></ol>
          <ol><img src="../../assets/Facebook.png" class="fb mt-2 mr-5" alt=""></ol>
    </div>
  </div>
</nav>
