<h2 mat-dialog-title>TERMS OF USE</h2>
<mat-dialog-content class="mat-typography">
  <h3 class="font-weight-bold">Introduction</h3>
  <p>The content of the CLOUD-CLASS application (Learning Management System LMS) is subject to specific terms of use
    that bind everyone who uses and accesses it, in any version and form. Its Developer, Yiannis Manaras, may modify the
    present Terms of Use at any time and without notice, announcing any such modification through its website. By using
    the CLOUD-CLASS.COM application, the visitors/users acknowledge that they have read, understood and unreservedly
    accepted the Terms of Use. The use of the CLOUD-CLASS.COM application, after the announcement of any modification,
    will be considered as acceptance of this modification by the visitor/user.</p>

  <p>The application must be used in accordance with the law and the present Terms of Use.</p>

  <h3 class="font-weight-bold">1. LIABILITY DISCLAIMER</h3>
  <p>1.1. The Developer of the application is not liable for any action of any person or organization, wherever they are
    seated, as a result, direct or indirect, of the information contained or made available through this website,
    regardless of whether this information is provided by him or any other third party.</p>
  <p>1.2. The application is available "AS IS" and the content is contributed each time by the respective user -
    educational institution - for use by their students. </p>

  <h3 class="font-weight-bold">2. PROHIBITION OF REPUBLICATION</h3>
  <p>2.1. The copyright of the application, including but not limited to, all documents, files, texts, images and
    graphics contained therein, as well as its general image, are the intellectual and industrial property of the
    Developer of the application and are protected by the relevant provisions of the Greek, Community and international
    law.</p>
  <p>2.2. The users - educational institutions who contribute content, state that they are holders of any intellectual
    property rights in connection therewith or/and that they are licensed to do so by the rights' holders. The Developer
    of the application is not liable for any infringement of any existing intellectual property rights over content
    or/and applications registered by users.</p>
  <p>2.3. Unless otherwise specified, the copying for commercial purposes, modification or reproduction of part or all
    of the contents of this application in any form, based thereon and/or its content, or the integration in other
    websites of the electronic recovery systems, is prohibited. No link in this application may be included in any other
    website without the prior written consent of the Developer.</p>

  <h3 class="font-weight-bold">3. PERSONAL DATA PROTECTION</h3>
  <p>The processing and protection of the personal data of the users of the application is subject to the rules set by
    the national, EU and international law for the processing of data of personal character.</p>
  <p>The personal data that will be entered by the educational institutions as users will be recorded under their
    responsibility and will concern the Full Name of the student, his/her gender and age. For any additional data,
    information will be provided by the educational institutions as users.</p>
  <p>In the application, only the personal data that are necessary for its use and the provision of services are
    registered by the educational institutions as users. </p>
  <p>In the application, data of personal character that fall within special categories of personal data such as racial
    or ethnic origin, data related to religious beliefs or political views, etc. are not in any case registered or
    collected.</p>
  <p>The user of the application has the opportunity to contact the Data Protection Officer (DPO), YIANNIS MANARAS, in
    order to be informed about any possible retention of his/her personal data and to exercise his/her rights (such as
    correction, updating, deletion etc.). The visitor/user may contact the DPO at admin@cloudclass.com.</p>

  <h3 class="font-weight-bold">4. COOKIES POLICY </h3>
  <p>The cloud-class.com application may collect user credentials using appropriate technologies, such as cookies or/and
    Internet Protocol (IP) address tracking. Cookies are small pieces of text that are sent to the browser by a website
    visited by the user. The use of cookies makes it easier for the website to memorize information about the user's
    visit, such as e.g. your preferred language, memorizing your preferences for secure search, counting the number of
    visitors, or making it easier for you to use the app.</p>
  <p>How to control cookies: You can control and/or delete cookies according to your wishes. Details can be found here:
    aboutcookies.org. You can delete all cookies that are already on your computer, as well as configure most browsers
    to prevent the installation of cookies. However, in this case, you may need to adjust some preferences yourself each
    time you visit a website. The user may use the website without problems even without the use of cookies but possibly
    to the detriment of its usability and the operation of some of its services.</p>

  <h3 class="font-weight-bold">5. THIRD PARTY WEBSITES AND CONTENT</h3>
  <p>5.1. The application may contain "links" to other websites. The cloud-class.com application does not control the
    availability, content, privacy policy, quality and completeness of the services of other websites, to which it
    refers through "links", "hyperlinks" or electronic banners and is not responsible for them. Cloud-class.com
    application should in no way be construed as endorsing or accepting the content or services of the websites and
    pages to which it refers or as linking to them in any other way.</p>
  <p>The Developer of the application does not guarantee and is not responsible for the content and operation of links
    provided through it or to which it refers.</p>
  <p>5.2. The Developer of the application should in no case be considered as endorsing or accepting the content or
    services of the websites and pages to which it refers or as being linked to them in any other way and therefore does
    not bear any responsibility for any damage that the user/visitor may suffer from the use of third party websites.
    These links are used with the sole responsibility of the user/visitor and access to these websites and their use is
    subject to the terms set out by them. Therefore, for any question or/and problem that arises during their visit/use,
    you must address directly to the respective websites and pages, who bear the relevant responsibility for the
    provision of their services.</p>


  <h3 class="font-weight-bold">6. SOFTWARE TRANSPORT</h3>
  <p>The use of any software "downloaded" (download/save) by this application is solely at the discretion and assessment
    of potential risks by the user, who should ensure that the software that he/she downloads/saves (downloads) from
    this website on his/her personal computer is compatible with the computer and does not contain viruses.</p>

  <h3 class="font-weight-bold">7. QUESTIONS</h3>
  <p>All questions should be addressed by email to the following email address: admin@cloud-class.com.</p>

  <h3 class="font-weight-bold">8. CONFIDENTIALITY POLICY</h3>
  <p>All questions should be addressed by email to the following email address: admin@cloud-class.com.</p>
  <p>The Developer of the application considers the security of the personal data of the users of the application very
    important and is responsible for ensuring the confidentiality of all personal information provided thereto.</p>
  <p>The confidentiality policy sets out the principles governing the use of personal information received. Anyone who
    uses this application as its user agrees to this use as detailed in this text.</p>
  <p>The confidentiality policy may change from time to time. We therefore request that it be checked regularly to
    ensure that users are aware of the latest version that will be applied each time they visit the website.</p>

  <h3 class="font-weight-bold">9. APPLICABLE LAW</h3>
  <p>The terms and conditions of use of the application, as well as any modification or change therein, are governed by
    the national, EU and international law. Any provisions of the terms of use that may be contrary to the above legal
    framework, automatically cease to apply and are removed from the application without prejudice to the validity of
    the other terms of use.</p>
  <p>The present terms of use are qualified as an agreement between the Developer of the application and its user. Any
    modification of this agreement, in order to take effect, must have been brought to the attention of the users.</p>
  <p>Any disputes that will arise from the application of the present terms of use and in general from the use of this
    user application and which cannot be resolved amicably, are governed by the Greek law and are subject to the
    jurisdiction of the Courts of Athens.</p>

  <h3 class="font-weight-bold">10. CONTACT </h3>
  <p>In order to contact for content issues or related legal issues/requests, please send an email to
    admin@cloud-class.com. </p>

  <h3 class="font-weight-bold">11. OBLIGATIONS OF USERS</h3>
  <p>11.1. The use of the application requires users to accept and comply with the present Terms of Use.</p>
  <p>11.2. As a user of this application you undertake:</p>
  <p>11.2.1. to use this application in accordance with the instructions of the Developer of the application and to not
    use the application for any purpose other than that for which it is provided in accordance with these Terms; </p>
  <p>11.2.2. to not act, during the use of the application, knowingly or unintentionally, contrary to any legal or
    regulatory requirements of any competent authority having jurisdiction over you or any activity you undertake</p>
  <p>11.2.3. to not use the application to transmit any material that is defamatory, offensive or threatening in nature
    or that infringes the rights of third parties, or for the purpose of causing disturbance, harassment, or unnecessary
    concern to any third party, or send messages that you know are fake.</p>

  <h3 class="font-weight-bold">12. GENERAL TERMS </h3>
  <p>These Terms represent the overall agreement between each user and the Developer of the application and govern the
    access and use of the application by users. </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Agree</button>
</mat-dialog-actions>
