	<!-- container -->

	<div class="container-fluid p-5">
	  <div class="row">
	    <div class="col-md-6 col-sm-4 hannan">
	      <p><span class="txt1">Cloud-Class</span> is a web-application that enables schools and teachers to
	        organise, manage and support the educational activities.
	      </p>
	      <hr />

	      <div class="row">
	        <div class="col-md-8 col-sm-5 offset-md-1 pl-5">
	          <button type="button" class="btn btn-primary btn-lg"
	            onclick="location.href='https://www.cloud-class.com/tool/'">Go to Cloud-Class <i
	              class="fa-solid fa-arrow-right"></i>
	          </button>
	        </div>
	      </div>

	      <div class="row ">
	        <h3 class="feature-heading mt-5" style=" margin-left:14.5%;">Features</h3>
	      </div>
	      <div class="row " style="line-height: 3.0em;">
	        <p><span class="dot mr-3"></span>It uses web2 technologies that improve the user experience and make the data
	          transfer faster</p>
	        <p><span class="dot mr-3"></span>It is available 365*24 in several different languages</p>
	        <p><span class="dot mr-3"></span>It supports drag-and-drop
	          <b style="color:#FFFFFF"><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-phone"
	              aria-hidden="true"></i><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-phone"
	              aria-hidden="true"></i><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-phone"
	              aria-hidden="true"></i><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-phone"
	              aria-hidden="true"></i><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-phone"
	              aria-hidden="true"></i></b>
	        </p>
	        <p><span class="dot mr-3"></span>Discussion Forums<br><span class="dot mr-3"></span>Messages<br><span
	            class="dot mr-3"></span>User time table<br><span class="dot mr-3"></span>Exercises automatic correction</p>
	        <!-- <p><span class="dot mr-3"></span>
	          clever-document-splitting-and-sharing</p> -->
	      </div>

	    </div>

	    <div class="col-md-5 col-md-5 ">

	      <img src="../../assets/cuate.png" class="img-responsives" alt="">

	    </div>
	  </div>

	</div>

	<div class="container-fluid mb-5 p-5">

	  <div class="row">
	    <div class="col-md-6 col-sm-4">
	      <div class="row">
	        <h3 class="feature-heading" style=" margin-left:15%;">Other Important Features </h3>
	      </div>
	      <div class="row">
	        <p><span class="dot mr-3"></span>The usage of the "cloud-class" is free of charges for schools, teachers and
	          students</p>
	        <p><span class="dot mr-3"></span>A school may only pay for support and training, in case the how-to-videos are
	          not enough and they
	          need additional training and support</p>
	      </div>
	    </div>



	    <div class="col-md-5 offset-md-1 col-sm-3">

	      <a href="https://www.youtube.com/channel/UCQBFpm-4NjWRE2Pes9pv80Q">
	        <img src="../../assets/Group 16.png" class="img-responsives" alt="">
	      </a>
	    </div>
	  </div>

	</div>
